<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary"></ion-buttons>
    <ion-title>Autorização de Viatura</ion-title>
    <ion-buttons slot="end" (click)="logout()">
      <ion-chip mode="ios" outline color="light">
        <ion-label><strong>Sair</strong></ion-label>
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card class="cardAll">
    <app-dados-basico-policial (policialEmitter)="policial = $event"></app-dados-basico-policial>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>Carteira de Habilitação</ion-col>
        </ion-row>
        <ion-row>
          <ion-col><strong>Categoria: </strong>
            <app-text-shell [data]="policial?.cnh?.categoria"></app-text-shell>
          </ion-col>
          <ion-col><strong>Validade: </strong>
            <app-text-shell [data]="policial?.cnh?.dataValidade | date:'dd/MM/yyyy'"></app-text-shell>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <app-pesquisa-viatura [quantPagina]="quantPagina" (responseBusca)="buscaPesquisa($event)" *ngIf="isAdmin"
    (responseImovel)="isViaturaVistoria($event)"></app-pesquisa-viatura>

  <app-resultado-pesquisa-viatura-vistoria [busca]="busca" [policial]="policial" [viaturas]="viaturas" [adjunto]="true"
    *ngIf="isAdmin"></app-resultado-pesquisa-viatura-vistoria>

  <div class="loading-card" *ngIf="viaturasUnidade.length === 0">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <ion-card mode="ios" class="card-children" *ngIf="viaturasUnidade.length !== 0">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Viaturas da Unidade</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div *ngFor="let viatura of viaturasUnidade" class="card-for ion-padding-bottom">
        <div class="ion-text-center">

          <ion-item lines="none" routerDirection='forward'>
            <ion-thumbnail slot="start">
              <img src="https://sgpol.pm.df.gov.br/img/sgf/{{viatura?.marcaSigla}}.png">
            </ion-thumbnail>
            <ion-label class="ion-text-wrap">
              <h3>{{viatura?.modelo}}</h3>
              <p>{{viatura?.placa}}</p>
              <p>{{viatura?.prefixo}}</p>
            </ion-label>
            <p slot="end" class="detalhes ion-text-justify" [routerLink]="['/viatura-ficha', viatura.id]"
            routerDirection="forward">
            {{'detalhes da viatura'}}</p>
          </ion-item>
        </div>

        <ion-item lines="none"
          *ngIf="viatura?.status === situacaoViatura.EM_VISTORIA || viatura?.status === situacaoViatura.CAUTELADA">
          <ion-label class="ion-text-wrap">
            <h3>Motorista: </h3>
            <p>{{viatura?.motorista}}</p>
          </ion-label>
          
        </ion-item>
        <ion-row>
          <ion-col size="4">
              <ion-button *ngIf="viatura?.status === situacaoViatura.CAUTELADA" color="success" size="small">Em uso
              </ion-button>
              <ion-button *ngIf="viatura?.status === situacaoViatura.DISPONIVEL" color="primary" size="small">Disponível
              </ion-button>
              <ion-button *ngIf="viatura?.status === situacaoViatura.EM_VISTORIA" color="warning" size="small">Em
                Vistoria</ion-button>
              <ion-button *ngIf="viatura?.status === situacaoViatura.BAIXADA" color="danger" size="small">Baixada
              </ion-button>
              <ion-button *ngIf="viatura?.status === situacaoViatura.PARA_REVISAO" color="danger" size="small">PARA
                REVISAO</ion-button>
          </ion-col>
          <ion-col size="8">
            <div class="ion-text-end" *ngIf="viatura?.status === situacaoViatura.EM_VISTORIA"
              (click)="isVistoria(viatura)">
              <ion-icon class="icon-img-alert" name="search" color="primary"></ion-icon>
              <p class="texto">Liberar Viatura</p>
            </div>
            <div class="ion-text-end" *ngIf="viatura?.status === situacaoViatura.CAUTELADA"
              (click)="isVistoria(viatura)">
              <ion-icon class="icon-img-alert" name="checkmark" color="primary"></ion-icon>
              <p class="texto">Finalizar Vistoria</p>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadViaturasUnidade($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="carregando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-card mode="ios" class="card-children" *ngIf="semViaturas">
    <div class="ion-padding">
      <h1>Sem viaturas em {{policial?.lotacao}}</h1>
    </div>
  </ion-card>
</ion-content>