ion-icon {
    font-size: 25px;
}


.logo {
    --border-radius: 5px;
}
  
:host {
    --page-background: var(--app-background-shade);
  }
  
  ion-content {
    --background: var(--page-background);
  }

  .card-for {
    border-bottom: solid 1px rgba(105, 105, 105, 0.325);
    padding: 0px;
    margin: 0px;
  }

  .card-children {
    margin: 7px;
    padding: 0px;
  }

  .detalhes {
    font-size: 11px;
    outline: none;
    color: rgb(104, 104, 104);
  }
  
  .detalhes:active {
    transform: scale(1.2);
  }

  ion-item {
    --highlight-height: 200px;
  }

 

