<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Perfil
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="versionApp()">
        <ion-icon name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card class="cardAll">
    <div class="dados-policial">
      <app-dados-basico-policial></app-dados-basico-policial>
    </div>
  </ion-card>
  <ion-card color="light">
    <ion-item-divider color="primary">
      <strong>Dados Pessoais:</strong>
    </ion-item-divider>
      <ion-row>
        <ion-col>
          <label>Nome:</label>
          <div class="dado">
            <app-text-shell [data]="policial?.nome"></app-text-shell>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <label>CPF:</label>
          <div class="dado">
            <!-- <app-text-shell [data]="policial?.cpf"></app-text-shell> -->
          </div>
        </ion-col>
        <ion-col>
          <label>RG:</label>
          <div class="dado">
            <!-- <app-text-shell [data]="policial?.rg"></app-text-shell> -->
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <label>CNH:</label>
          <div class="dado">
            <app-text-shell [data]="policial?.cnh?.cnhRegistro"></app-text-shell>
          </div>
        </ion-col>
        <ion-col col-3>
          <label>Cat.:</label>
          <div class="dado">
            <app-text-shell [data]="policial?.cnh?.categoria"></app-text-shell>
          </div>
        </ion-col>
        <ion-col>
          <label>Val.:</label>
          <div class="dado">
            <app-text-shell [data]="policial?.cnh?.dataValidade | date:'dd/MM/yyyy'"></app-text-shell>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <label>Inclusão:</label>
          <div class="dado">
            <app-text-shell [data]="policial?.dataAdmissao | date:'dd/MM/yyyy'"></app-text-shell>
          </div>
        </ion-col>
        <ion-col>
          <label>T. Serv.:</label>
          <div class="dado">
            <app-text-shell [data]="policial?.tempoServico?.tempoAverbado?.total"></app-text-shell>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <label>Matrícula:</label>
          <div class="dado">
            <app-text-shell [data]="policial?.matricula"></app-text-shell>
          </div>
        </ion-col>
        <ion-col>
          <label>SIAPE:</label>
          <div class="dado">
            <app-text-shell [data]="policial?.siape"></app-text-shell>
          </div>
        </ion-col>
      </ion-row>
    <ion-list>
      <!-- <ion-item *ngFor="let formacao of policial.pessoa.formacoes">
        <p>{{formacao.cursoFormacao?.nome}} {{formacao.ano}}</p>
      </ion-item>
      <ion-item-divider color="light">
        <strong>Dependentes:</strong> 
      </ion-item-divider>
      <ion-item *ngFor="let dependente of policial.pessoa.dependentes">
        <p>{{dependente?.nome}} - {{dependente?.tipo}}</p>
      </ion-item>-->
    </ion-list>
  </ion-card>
  <ion-button [routerLink]="[ '/versoes']" expand="block" fill="clear" shape="round">
    Versões do SGpol Mobile
  </ion-button>
</ion-content>