<ion-row>
  <ion-col size="4">
    <div class="cards" (click)="routeMotorista()">
      <div class="conteudo ion-text-center">
        <div class="icon ion-text-center">
          <ion-icon name="speedometer"></ion-icon><br>
        </div>
          <ion-label>Motorista - Vistoria</ion-label>
      </div>
    </div>
  </ion-col>
  <ion-col size="4">
    <div class="cards" (click)="routeAdjunto()">
      <div class="conteudo ion-text-center">
        <div class="icon ion-text-center">
          <ion-icon name="hand"></ion-icon><br>
        </div>
          <ion-label>Adjunto - Liberação</ion-label>
      </div>
    </div>
  </ion-col>
  <ion-col size="4">
    <div class="cards" (click)="routeEntradaSaida()">
      <div class="conteudo ion-text-center">
        <div class="icon ion-text-center">
          <ion-icon name="swap"></ion-icon><br>
        </div>
          <ion-label>Entrada - Saída</ion-label>
      </div>
    </div>
  </ion-col>
</ion-row>
