<ion-row class="slider-row" *ngIf="itemVistoria.fotos.length === 0; else slideFtos">
  <ion-slides class="details-slides" pager="true" [options]="slidesOptions">
    <ion-slide >
      <ion-row class="slide-inner-row">
        <app-image-shell [mode]="'cover'" animation="spinner" class="showcase-image" [src]="fotoCapa">
          <app-aspect-ratio [ratio]="{w:64, h:50}">
          </app-aspect-ratio>
        </app-image-shell>
      </ion-row>
    </ion-slide>
  </ion-slides>
</ion-row>
<ion-button (click)="getCameraPicture()" expand="block" fill="solid" size="small">
  nova foto
</ion-button>
<ng-template #slideFtos>
  <ion-row class="slider-row">
    <ion-slides class="details-slides" pager="true" [options]="slidesOptions">
      <ion-slide *ngFor="let foto of slideFoto">
        <ion-row class="slide-inner-row">
          <app-image-shell [mode]="'cover'" animation="spinner" class="showcase-image" [src]="foto.changingThisBreaksApplicationSecurity"
        (click)="abrirFotoPerfil(foto.changingThisBreaksApplicationSecurity)">
        <app-aspect-ratio [ratio]="{w:64, h:50}">
        </app-aspect-ratio>
      </app-image-shell>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </ion-row>
</ng-template>