<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Prefixo: {{viatura?.prefixo}}</ion-title>
    <ion-buttons slot="end" (click)="logout()">
      <ion-chip mode="ios" outline color="light">
        <ion-label><strong>Sair</strong></ion-label>
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding cardAll">
    <div class="ion-text-center">
      <ion-avatar class="logo-viatura" slot="start">
        <img src="https://sgpol.pm.df.gov.br/img/sgf/{{viatura?.marcaSigla}}.png">
      </ion-avatar>
      <p color="dark"><strong>{{viatura?.marca}}/{{viatura?.modelo}}</strong> </p>
      <p color="dark"><strong>{{viatura?.anoFabricacao}}/{{viatura?.anoModelo}}</strong></p>
    </div>
  </ion-card>

  <app-botao-situacao-viatura [viatura]="viatura"></app-botao-situacao-viatura>
  

  <ion-card class="card-children">
    <ion-item>
      <p><strong><i>Prefixo:&nbsp;</i></strong> {{viatura?.prefixo}}</p>
    </ion-item>
    <ion-item>
      <p><strong><i>Placa:&nbsp;</i></strong> {{viatura?.placa}}</p>
    </ion-item>
    <ion-item>
      <p><strong><i>Placa
            Vinculada:&nbsp;</i></strong>{{viatura?.placaVinculada != '' ? viatura?.placaVinculada : 'SEM P/V'}}</p>
    </ion-item>
    <ion-item>
      <p><strong><i>Combustível:&nbsp;</i> </strong>{{viatura?.tipoCombustivel}}</p>
    </ion-item>
    <ion-item>
      <p><strong><i>Lotação:&nbsp;</i></strong>{{viatura?.lotacao}}/{{viatura?.lotacaoSubordinacao}}</p>
    </ion-item>

    <ion-item>
      <p><strong><i>Tombamento:&nbsp;</i> </strong>{{viatura?.tombamento}}</p>
    </ion-item>

    <ion-item>
      <p><strong><i>Tipo:&nbsp;</i> </strong>{{viatura?.tipoViatura}}</p>
    </ion-item>

    <ion-item>
      <p><strong><i>Inclusão:&nbsp;</i> </strong>{{viatura?.dataInclusao | date:'dd/MM/yyyy'}}</p>
    </ion-item>

    <ion-item>
      <p><strong><i>Chassi:&nbsp;</i> </strong>{{viatura?.chassi}}</p>
    </ion-item>

    <ion-item>
      <p><strong><i>Renavam:&nbsp;</i> </strong>{{viatura?.renavam}}</p>
    </ion-item>

    <ion-item>
      <p><strong><i>Odômetro Atual:&nbsp;</i> </strong>{{viatura?.odometro}}km</p>
    </ion-item>

    <ion-item>
      <p><strong><i>Odômetro de próxima Revisão:&nbsp;</i> </strong>{{viatura?.odometroProximaRevisao}}km</p>
    </ion-item>
    
  </ion-card>
</ion-content>