
.logo {
    --border-radius: 5px;
}
  
:host {
    --page-background: var(--app-background-shade);
  }
  
  ion-content {
    --background: var(--page-background);
  }

  ion-item.visu {
    --padding: 0px;
    --margin: 0px;
  }

  .vist {
    font-size: 14px;
  }

  .aviso {
    font-size: 10px;
  }

  .detalhes {
    font-size: 11px;
    outline: none;
  }

  .detalhes:active {
    transform: scale(1.2);
  }
