<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Vistoria de Viatura</ion-title>
    <ion-buttons slot="end" (click)="logout()">
      <ion-chip mode="ios" outline color="light">
        <ion-label><strong>Sair</strong></ion-label>
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card class="cardAll">

    <app-dados-basico-policial></app-dados-basico-policial>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>Carteira de Habilitação</ion-col>
        </ion-row>
        <ion-row>
          <ion-col><strong>Categoria: </strong>
            <p>{{policial?.cnh?.categoria}}</p>
            <ion-skeleton-text animated="true"
              style="width: 100%; background: rgba(255, 255, 255, 0.24); border-radius: 2px;" *ngIf="!policial">
            </ion-skeleton-text>
          </ion-col>
          <ion-col><strong>Validade: </strong>
            <p>{{policial?.cnh?.dataValidade | date:'dd/MM/yyyy'}}</p>
            <ion-skeleton-text animated="true"
              style="width: 100%; background: rgba(255, 255, 255, 0.24); border-radius: 2px;" *ngIf="!policial">
            </ion-skeleton-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <ion-card mode="ios" *ngIf="temViaturaEmUso?.length != 0" class="card-children">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Viatura em Uso</ion-card-title>
    </ion-card-header>
    <div *ngFor="let viatura of temViaturaEmUso" class="card-tem-vistoria">
      <div class="ion-text-center" style="padding-top: 5px;">
        <ion-avatar class="logo-viatura">
          <img src="https://sgpol.pm.df.gov.br/img/sgf/{{viatura?.marcaSigla}}.png">
        </ion-avatar>
      </div>

      <div class="ion-padding">
        <p><strong>Prefixo: </strong>{{viatura?.prefixo}}</p>
        <p><strong>Viatura: </strong>{{viatura?.modelo}}</p>
        <p><strong>Placa: </strong>{{viatura?.placa}}</p>
        <p><strong>Unidade: </strong>{{viatura?.lotacao}}</p>
      </div>

      <ion-item-sliding>
        <ion-item lines="none" color="secondary">
          <!-- a mensagem 'arraste para esquerda para vistoriar' somente irá aparecer se o status da viatura for diferente de BAIXADA -->
          <ion-icon color="light" class="aviso" name="arrow-back" slot="start"
            *ngIf="viatura?.status !== situacaoViatura.BAIXADA"></ion-icon>
          <ion-label class="ion-text-wrap" color="light" slot="start"
            *ngIf="viatura?.status !== situacaoViatura.BAIXADA">
            <p class="aviso">{{'arraste para esquerda para visualizar vistoria' | titlecase}}</p>
          </ion-label>

          <ion-chip *ngIf="viatura?.status != situacaoViatura.CAUTELADA && viatura?.status != situacaoViatura.BAIXADA"
            [color]="viatura?.status === situacaoViatura.EM_VISTORIA ? 'warning' : 'light'" slot="end">
            {{viatura?.status}}
          </ion-chip>
          <ion-chip *ngIf="viatura?.status === situacaoViatura.CAUTELADA" slot="end"
            [color]="viatura?.status === situacaoViatura.CAUTELADA ? 'success' : 'light'">{{viatura?.status}}
          </ion-chip>
          <ion-chip *ngIf="viatura?.status === situacaoViatura.BAIXADA" slot="end" color="danger">
            <strong>{{viatura?.status}}</strong>
          </ion-chip>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="primary" (click)="vistoriar(viatura.idViatura)">
            <ion-label *ngIf="viatura?.motoristaMatricula === policial?.matricula">
              Visualizar Vistoria
            </ion-label>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </ion-card>

  <app-pesquisa-viatura [quantPagina]="quantPagina" (responseImovel)="isViaturaVistoria($event)"
    (responseBusca)="buscaPesquisa($event)"></app-pesquisa-viatura>

  <div *ngFor="let viatura of viaturas">
    <ion-card mode="ios" color="light">
      <div class="ion-text-center">
        <ion-avatar class="logo-viatura">
          <img src="https://sgpol.pm.df.gov.br/img/sgf/{{viatura?.marcaSigla}}.png">
        </ion-avatar>
      </div>
      <div class="ion-padding-start ion-padding-end">
        <ion-text [color]="!viaturaService.tem_numeros(busca) ? 'danger' : ''">
          <p><strong>Prefixo: </strong>{{viatura?.prefixo}}</p>
        </ion-text>
        <p><strong>Viatura: </strong>{{viatura?.modelo}}</p>
        <ion-text [color]="viaturaService.tem_numeros(busca) ? 'danger' : ''">
          <p><strong>Placa: </strong>{{viatura?.placa}}</p>
        </ion-text>
        <p><strong>Unidade: </strong>{{viatura?.lotacao}}</p>
        <p class="detalhes ion-text-end" [routerLink]="['/viatura-ficha', viatura.id]" routerDirection="forward">
          {{'+ detalhes da viatura'}}</p>
      </div>
      <ion-item-sliding>
        <ion-item lines="none" color="secondary">

          <!-- a mensagem 'arraste para esquerda para vistoriar' somente irá aparecer se o status da viatura for diferente de BAIXADA -->
          <ion-icon color="light" class="aviso" name="arrow-back" slot="start"
            *ngIf="viatura?.status !== situacaoViatura.BAIXADA"></ion-icon>
          <ion-label class="ion-text-wrap" color="light" slot="start"
            *ngIf="viatura?.status !== situacaoViatura.BAIXADA">
            <p class="aviso">{{'arraste para esquerda para vistoriar' | titlecase}}</p>
          </ion-label>

          <ion-icon color="light" class="aviso" name="alert-circle-outline" slot="start"
            *ngIf="viatura?.status === situacaoViatura.BAIXADA"></ion-icon>
          <ion-label class="ion-text-wrap" color="light" slot="start"
            *ngIf="viatura?.status === situacaoViatura.BAIXADA">
            <p class="aviso">{{'viatura baixada' | titlecase}}</p>
          </ion-label>

          <ion-chip *ngIf="viatura?.status != situacaoViatura.CAUTELADA && viatura?.status != situacaoViatura.BAIXADA"
            [color]="viatura?.status === situacaoViatura.EM_VISTORIA ? 'warning' : 'light'" slot="end">
            {{viatura?.status}}
          </ion-chip>
          <ion-chip *ngIf="viatura?.status === situacaoViatura.CAUTELADA" slot="end"
            [color]="viatura?.status === situacaoViatura.CAUTELADA ? 'success' : 'light'">{{viatura?.status}}
          </ion-chip>
          <ion-chip *ngIf="viatura?.status === situacaoViatura.BAIXADA" slot="end" color="danger">
            <strong>{{viatura?.status}}</strong>
          </ion-chip>
        </ion-item>

        <ion-item-options side="end" *ngIf="viatura?.status !== situacaoViatura.BAIXADA">
          <ion-item-option
            *ngIf="(viatura?.viaturaTemVistoria?.motoristaMatricula === policial?.matricula) || viatura?.viaturaTemVistoria?.idVistoria == null"
            [color]="viatura?.viaturaTemVistoria?.motoristaMatricula === policial?.matricula ? 'primary' : 'success'"
            (click)="vistoriar(viatura.id)">
            <ion-label *ngIf="viatura?.viaturaTemVistoria?.motoristaMatricula === policial?.matricula">Visualizar
              Vistoria</ion-label>
            <ion-label *ngIf="viatura?.viaturaTemVistoria?.idVistoria == null">Vistoriar</ion-label>
          </ion-item-option>
          <ion-item-option color="danger"
            *ngIf="viatura?.viaturaTemVistoria?.idVistoria != null && (viatura?.viaturaTemVistoria?.motoristaMatricula !== policial?.matricula)">
            <ion-label>Viatura em Uso</ion-label>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
  </div>

  <ion-card mode="ios" class="card-children" *ngIf="policial">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Viaturas da Unidade</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <div *ngIf="semViaturasUnidade">
        <h2>Sem Viaturas em <app-text-shell [data]="policial?.lotacao"></app-text-shell>
        </h2>
      </div>

      <div class="ion-text-end">
        <ion-button *ngIf="!showViaturaUnidade" size="small" (click)="listarViaturasUnidade()" fill="clear">
          Visualizar Viaturas
        </ion-button>
      </div>

      <div *ngIf="showViaturaUnidade">

        <ion-card *ngFor="let viatura of viaturasUnidade" mode="ios" style="margin-left: 0px; margin-right: 0px;">

          <ion-item lines="none" [routerLink]="['/viatura-ficha', viatura.id]" routerDirection="forward"
            routerDirection='forward' detail="false" color="cinza">
            <ion-thumbnail slot="start">
              <img src="https://sgpol.pm.df.gov.br/img/sgf/{{viatura?.marcaSigla}}.png">
            </ion-thumbnail>
            <ion-label class="ion-text-wrap">
              <h3>{{viatura?.modelo}}</h3>
              <p>{{viatura?.placa}}</p>
            </ion-label>
            <p class="detalhes" slot="end">{{'+ detalhes da viatura'}}</p>
          </ion-item>
          <ion-item-sliding>
            <ion-item lines="none" color="secondary">
              <ion-icon class="aviso" name="arrow-back" slot="start"
                *ngIf="viatura?.status !== situacaoViatura.BAIXADA"></ion-icon>
              <ion-label class="ion-text-wrap" slot="start"
                *ngIf="viatura?.status !== situacaoViatura.BAIXADA">
                <p class="aviso">{{'arraste para esquerda para vistoriar' | titlecase}}</p>
              </ion-label>

                <ion-chip
                  *ngIf="viatura?.status != situacaoViatura.CAUTELADA && viatura?.status != situacaoViatura.BAIXADA"
                  [color]="viatura?.status === situacaoViatura.EM_VISTORIA ? 'warning' : 'light'" slot="end">{{viatura?.status}}
                </ion-chip>
                <ion-chip *ngIf="viatura?.status === situacaoViatura.CAUTELADA" slot="end"
                  [color]="viatura?.status === situacaoViatura.CAUTELADA ? 'success' : 'light'" slot="end">{{viatura?.status}}
                </ion-chip>
                <ion-chip *ngIf="viatura?.status === situacaoViatura.BAIXADA" slot="end" color="danger" slot="end">
                  {{viatura?.status}}
                </ion-chip>
            </ion-item>
            <!-- o options do sliding somente irá aparecer se o status da viatura for diferente de BAIXADA -->
            <ion-item-options side="end" *ngIf="viatura?.status !== situacaoViatura.BAIXADA">
              <ion-item-option
                *ngIf="(viatura?.viaturaTemVistoria?.motoristaMatricula === policial?.matricula) || viatura?.viaturaTemVistoria?.idVistoria == null"
                [color]="viatura?.viaturaTemVistoria?.motoristaMatricula === policial?.matricula ? 'primary' : 'success'"
                (click)="vistoriar(viatura.id)">
                
                <ion-label *ngIf="viatura?.viaturaTemVistoria?.motoristaMatricula === policial?.matricula">Visualizar
                  Vistoria</ion-label>
                <ion-label *ngIf="viatura?.viaturaTemVistoria?.idVistoria == null">Vistoriar</ion-label>
              </ion-item-option>
              <ion-item-option color="danger"
                *ngIf="viatura?.viaturaTemVistoria?.idVistoria != null && (viatura?.viaturaTemVistoria?.motoristaMatricula !== policial?.matricula)">
                <ion-label>Viatura em Uso</ion-label>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-card>

        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadViaturasUnidade($event)">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="carregando...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>