<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Vistoria de Viatura</ion-title>
    <ion-buttons slot="end" (click)="logout()">
      <ion-chip mode="ios" outline color="light">
        <ion-label><strong>Sair</strong></ion-label>
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card class="cardAll">

    <app-dados-basico-policial></app-dados-basico-policial>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>Carteira de Habilitação</ion-col>
        </ion-row>
        <ion-row>
          <ion-col><strong>Categoria: </strong>
            <p>{{policial?.cnh?.categoria}}</p>
            <ion-skeleton-text animated="true" style="width: 100%; background: rgba(255, 255, 255, 0.24); border-radius: 2px;" *ngIf="!policial"></ion-skeleton-text>
          </ion-col>
          <ion-col><strong>Validade: </strong>
            <p>{{policial?.cnh?.dataValidade | date:'dd/MM/yyyy'}}</p>
            <ion-skeleton-text animated="true" style="width: 100%; background: rgba(255, 255, 255, 0.24); border-radius: 2px;" *ngIf="!policial"></ion-skeleton-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <ion-card mode="ios" *ngIf="temVistoriaViatura?.length != 0" class="card-children">
    <ion-card-header>
      <ion-card-title>Viatura em Uso</ion-card-title>
    </ion-card-header>
    <div *ngFor="let viaturaVistoria of temVistoriaViatura" class="card-tem-vistoria ion-padding">
    <div class="ion-text-center">
    <ion-avatar class="logo-viatura">
      <img src="https://sgpol.pm.df.gov.br/img/sgf/{{viaturaVistoria?.marcaSigla}}.png">
    </ion-avatar>
    </div>
    
    <p><strong>Prefixo: </strong>{{viaturaVistoria?.prefixo}}</p>
    <p><strong>Viatura: </strong>{{viaturaVistoria?.modelo}}</p>
    <p><strong>Placa: </strong>{{viaturaVistoria?.placa}}</p>
    <p><strong>Unidade: </strong>{{viaturaVistoria?.lotacao}}</p>
    <div class="ion-text-end">
      <ion-button *ngIf="viaturaVistoria?.status != situacaoViatura.CAUTELADA && viaturaVistoria?.status != situacaoViatura.BAIXADA"  size="small" [color]="viaturaVistoria?.status === situacaoViatura.EM_VISTORIA ? 'warning' : 'primary'" [routerLink]="['/viatura-ficha', viaturaVistoria.id, adjunto]" routerDirection="forward">{{viaturaVistoria?.status}}</ion-button>
      <ion-button *ngIf="viaturaVistoria?.status === situacaoViatura.CAUTELADA" size="small"  slot="end" [color]="viaturaVistoria?.status === situacaoViatura.CAUTELADA ? 'success' : 'primary'" [routerLink]="['/viatura-ficha', viaturaVistoria.id, adjunto]" routerDirection="forward">{{viaturaVistoria?.status}}</ion-button>
      <ion-button *ngIf="viaturaVistoria?.status === situacaoViatura.BAIXADA" size="small"  slot="end" color="danger" [routerLink]="['/viatura-ficha', viaturaVistoria.id, adjunto]" routerDirection="forward">{{viaturaVistoria?.status}}</ion-button>
    </div>
    <hr>
  </div>
  </ion-card>

<app-pesquisa-viatura [quantPagina]="quantPagina" (responseImovel)="viaturas = $event"></app-pesquisa-viatura>

<div *ngFor="let viatura of viaturas">
  <ion-card mode="ios" color="light" class="ion-padding-start">
    <div class="ion-text-center">
    <ion-avatar class="logo-viatura">
      <img src="https://sgpol.pm.df.gov.br/img/sgf/{{viatura?.marcaSigla}}.png">
    </ion-avatar>
    </div>
    <ion-text [color]="!viaturaService.tem_numeros(busca) ? 'primary' : ''">
      <p><strong>Prefixo: </strong>{{viatura?.prefixo}}</p>
    </ion-text>
    <p><strong>Viatura: </strong>{{viatura?.modelo}}</p>
    <ion-text [color]="viaturaService.tem_numeros(busca) ? 'primary' : ''">
      <p><strong>Placa: </strong>{{viatura?.placa}}</p>
    </ion-text>
    <p><strong>Unidade: </strong>{{viatura?.lotacao}}</p>
    <div class="ion-text-end" >
      <ion-button *ngIf="viatura?.status != situacaoViatura.CAUTELADA && viatura?.status != situacaoViatura.BAIXADA"  size="small" [color]="viatura?.status === situacaoViatura.EM_VISTORIA ? 'warning' : 'primary'"  [routerLink]="['/viatura-ficha', viatura.id, adjunto]" routerDirection="forward" >{{viatura?.status}}</ion-button>
          <ion-button *ngIf="viatura?.status === situacaoViatura.CAUTELADA" size="small"  slot="end" [color]="viatura?.status === situacaoViatura.CAUTELADA ? 'success' : 'primary'"  [routerLink]="['/viatura-ficha', viatura.id, adjunto]" routerDirection="forward" >{{viatura?.status}}</ion-button>
          <ion-button *ngIf="viatura?.status === situacaoViatura.BAIXADA" size="small"  slot="end" color="danger"  [routerLink]="['/viatura-ficha', viatura.id, adjunto]" routerDirection="forward" >{{viatura?.status}}</ion-button>
    </div>
  </ion-card>
</div>

  <ion-card mode="ios" class="card-children" *ngIf="policial">
    <ion-card-header>
      <ion-card-title>Viaturas da Unidade</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <div *ngIf="showWarning">
          <h2>Sem Viaturas em <app-text-shell [data]="policial?.lotacao"></app-text-shell></h2>
        </div>
        <div slot="end" *ngIf="!showWarning">
          <ion-button *ngIf="!showViaturaUnidade; else show" size="small"
            (click)="listarViaturasUnidade()">
            Visualizar Viaturas
          </ion-button>
          <ng-template #show>
            <ion-button fill="outline" size="small" (click)="showViaturaUnidade = !showViaturaUnidade">
              Fechar
            </ion-button>
          </ng-template>
        </div>
      </ion-item>
      <div *ngIf="showViaturaUnidade">
        <ion-item *ngFor="let viatura of viaturasUnidade"  [routerLink]="['/viatura-ficha', viatura.id, adjunto]" routerDirection="forward"  routerDirection='forward'>
          <ion-thumbnail slot="start">
            <img src="https://sgpol.pm.df.gov.br/img/sgf/{{viatura?.marcaSigla}}.png">
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            <h3>{{viatura?.modelo}}</h3>
            <p>{{viatura?.placa}}</p>
          </ion-label>
          <ion-button *ngIf="viatura?.status != situacaoViatura.CAUTELADA && viatura?.status != situacaoViatura.BAIXADA"  size="small" [color]="viatura?.status === situacaoViatura.EM_VISTORIA ? 'warning' : 'primary'"  [routerLink]="['/viatura-ficha', viatura.id, adjunto]" routerDirection="forward" >{{viatura?.status}}</ion-button>
          <ion-button *ngIf="viatura?.status === situacaoViatura.CAUTELADA" size="small"  slot="end" [color]="viatura?.status === situacaoViatura.CAUTELADA ? 'success' : 'primary'"  [routerLink]="['/viatura-ficha', viatura.id, adjunto]" routerDirection="forward" >{{viatura?.status}}</ion-button>
          <ion-button *ngIf="viatura?.status === situacaoViatura.BAIXADA" size="small"  slot="end" color="danger"  [routerLink]="['/viatura-ficha', viatura.id, adjunto]" routerDirection="forward" >{{viatura?.status}}</ion-button>
        </ion-item>
      </div>
      
    </ion-card-content>
  </ion-card>
</ion-content>