<ion-row>
  <!-- <ion-col size="4">
    <div class="cards">
      <div class="conteudo ion-text-center">
        <div class="icon ion-text-center">
          <ion-icon name="create"></ion-icon><br>
        </div>
          <ion-label>Ficha Cadastro</ion-label>
      </div>
    </div>
  </ion-col>
  <ion-col size="4">
    <div class="cards">
      <div class="conteudo ion-text-center">
        <div class="icon ion-text-center">
          <ion-icon name="people"></ion-icon><br>
        </div>
          <ion-label>Dependentes</ion-label>
      </div>
    </div>
  </ion-col>
  <ion-col size="4">
    <div class="cards">
      <div class="conteudo ion-text-center">
        <div class="icon ion-text-center">
          <ion-icon name="hourglass"></ion-icon><br>
        </div>
          <ion-label>Tempo de Serviço</ion-label>
      </div>
    </div>
  </ion-col> -->

  <ion-toolbar mode="ios" color="secondary">
    <p class="ion-text-center"><strong>Modulo em implementação...</strong></p>
  </ion-toolbar>
</ion-row>
