<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button>
          <ion-icon slot="icon-only" name="chatboxes"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>SGPol</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item>
          <ion-avatar class="user-avatar" slot="start">
            <img [src]="policial?.foto || '../assets/imgs/noimage.gif'">
          </ion-avatar>
            {{policial?.posto}} {{policial?.nomeGuerra}}
            <br>{{policial?.lotacao}}
          </ion-item>
        <ion-card-content>
          Função
          <p></p>
        </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-item href="#" class="activated">
            <ion-icon name="medkit" slot="start"></ion-icon>
            <ion-label>Bienal</ion-label>00/00/0000
            <ion-icon name="remove-circle" slot="end" color="warning"></ion-icon>
          </ion-item>
        
          <ion-item href="#">
            <ion-icon name="walk" slot="start"></ion-icon>
            <ion-label>TAF</ion-label>{{policial?.taf?.data}}
            <ion-icon  name="remove-circle" slot="end"  [color]="policial?.taf?.status == 'AGENDADO'? 'success' : 'danger'"></ion-icon>
          </ion-item>
        
          <ion-item class="activated">
            <ion-icon name="warning" slot="start"></ion-icon>
            <ion-label>Porte de Arma</ion-label>
            <ion-icon name="remove-circle" slot="end" color="success"></ion-icon>
          </ion-item>
        
          <ion-item>
            <ion-icon name="list-box" slot="start"></ion-icon>
            <ion-label>Cadastro</ion-label>{{ policial?.recadastramento?.validade | date:'dd/MM/yyy'}}
            <ion-icon name="checkmark-circle" slot="end"  [color]="policial?.recadastramento?.status == 'HOMOLOGADO'? 'success' : 'danger'"></ion-icon>
          </ion-item>
        </ion-card>
        <ion-card>
            <ion-item>
              <ion-icon name="pulse" slot="start"></ion-icon>
              <ion-label>Saúde</ion-label>
              <ion-icon name="checkmark-circle" slot="end" color="success"></ion-icon>
            </ion-item>
          
            <ion-card-content>
              Apto para o Serviço Policial Militar
            </ion-card-content>
          </ion-card>
      <ion-card>
        <ion-item>
          <ion-icon name="briefcase" slot="start"></ion-icon>
          <ion-label>Férias</ion-label>
          <ion-button fill="outline" slot="end">Reprogramar</ion-button>
        </ion-item>
      
        <ion-card-content>
          {{policial?.previsaoFerias}}
        </ion-card-content>
      </ion-card>
</ion-content>
