<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Efetivo
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let policial of efetivoUnidade" color="medium">
    <ion-card-subtitle class="ion-padding-start">{{policial.posto}} {{policial.quadro}} {{policial.nome}}</ion-card-subtitle>
    <ion-card-content>
      <div class="ion-text-right">
        <ion-button (click)="presentModal(policial)" size="small">
          Visualizar
          <ion-icon name="list-box"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content> -->