.aviso {
  font-size: 10px;
}

.detalhes {
  font-size: 11px;
  outline: none;
  color: #787878;
}

.detalhes:active {
  transform: scale(1.2);
}

.card-viatura {
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.3);
  }