// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #000066;
  --ion-color-primary-rgb: 0,0,102;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #00005a;
  --ion-color-primary-tint: #1a1a75;

  --ion-color-secondary: #0055aa;
  --ion-color-secondary-rgb: 0,85,170;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #004b96;
  --ion-color-secondary-tint: #1a66b3;

  --ion-color-tertiary: #0079f2;
  --ion-color-tertiary-rgb: 0,121,242;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #006ad5;
  --ion-color-tertiary-tint: #1a86f3;

  --ion-color-success: #009933;
  --ion-color-success-rgb: 0,153,51;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #00872d;
  --ion-color-success-tint: #1aa347;

  --ion-color-warning: #e0b400;
  --ion-color-warning-rgb: 255,204,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #ffcc00;
  --ion-color-warning-tint: #ffd11a;

  --ion-color-danger: #ff0000;
  --ion-color-danger-rgb: 255,0,0;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #e00000;
  --ion-color-danger-tint: #ff1a1a;

  --ion-color-dark: #051821;
  --ion-color-dark-rgb: 5,24,33;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #04151d;
  --ion-color-dark-tint: #1e2f37;

  --ion-color-medium: #f8f4f4;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #051821;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-font-family: 'PMDF Font';
}

:root {
  --app-background: #FFFFFF;
  --app-background-shade: var(--ion-background-color-step-50, #F2F2F2);
  --app-background-alt: var(--ion-color-primary);
  --app-background-alt-shade: var(--ion-color-primary-shade);

  --app-narrow-margin: 12px;
  --app-fair-margin: 16px;
  --app-broad-margin: 20px;

  --app-narrow-radius: 4px;
  --app-fair-radius: 8px;
  --app-broad-radius: 12px;
}

html.ios {
  --app-header-height: 44px;
}

html.md {
  --app-header-height: 56px;
}


@font-face {
  font-family: 'PMDF Font';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/myriad-pro-regular.ttf');
}
