<ion-content >
  <ion-card  mode="ios" color="dark" class="welcome-card">
    <ion-card-header>
      <ion-card-title>Polícia Militar Do</ion-card-title>
      <div class="container top">
        <img class="logopv" src="assets/imgs/logo.png">
        <br>
      </div>
      <ion-card-title>Distrito Federal</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-slides scrollbar="true" [options]="slideOpts" color="light">
    <ion-slide mode="ios">
      <div class="slide-inner ion-padding">
        <div class="titulo3"><span><strong>Login</strong></span></div>
        <form [formGroup]="loginForm">
          <ion-item class="ion-margin-top" lines="none">
            <ion-input mode="ios" required="true" placeholder="Usuário" formControlName="username" type="text" [(ngModel)]="creds.username"
              name="username" autocomplete="off" autocorrect="off" autofocus="true" clearInput="true">
            </ion-input>
          </ion-item>
          <div class="ion-padding-horizontal">
            <ion-text color="danger" *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">
              <p class="error">Usuário é obrigatório</p>
            </ion-text>
          </div>
          <ion-item class="ion-margin-top" lines="none">
            <ion-input mode="ios" required="true" placeholder="Senha" formControlName="password" type="password" [(ngModel)]="creds.password"
              name="password" autocomplete="off" autocorrect="off" clearInput="true">
            </ion-input>
          </ion-item>
          <div class="ion-padding-horizontal">
            <ion-text color="danger" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
              <p class="error">Senha é obrigatório</p>
            </ion-text>
          </div>
          <ion-item class="itemsalvar" color="light" lines=none>
          <ion-label class="labelsalvar">Salvar senha</ion-label>
          <ion-checkbox slot="end" mode="ios" [checked]="temDados ? true : false" (ionChange)="saveStar($event)">
          </ion-checkbox>
        </ion-item>
        
          <ion-button  [disabled]="loginForm.invalid"  fill="outline" class="ion-margin-top entrar" expand="block" (click)="login()">
            Entrar
          </ion-button>
          <ion-row>
          </ion-row>
        </form>
      </div>
    </ion-slide>
  </ion-slides>

  <!-- <div class="login-content">

    <form [formGroup]="loginForm" class="list-form">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="card" item-start class="text-primary"></ion-icon>
            Usuário:
          </ion-label>
          <ion-input formControlName="username" type="text" [(ngModel)]="creds.username" name="username"></ion-input>
        </ion-item>
        <div class="ion-padding-horizontal">
          <ion-text color="danger" *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">
            <p class="error">Usuário é obrigatório</p>
          </ion-text>
        </div>

        <ion-item>
          <ion-label position="floating">
            <ion-icon name="lock" item-start class="text-primary"></ion-icon>
            Senha:
          </ion-label>
          <ion-input formControlName="password" type="password" [(ngModel)]="creds.password" name="password">
          </ion-input>
        </ion-item>
        <div class="ion-padding-horizontal">
          <ion-text color="danger" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
            <p class="error">Senha é obrigatório</p>
          </ion-text>
        </div>

        <ion-item class="itemsalvar" color="light" lines=none>
          <ion-label class="labelsalvar">Salvar senha</ion-label>
          <ion-checkbox slot="end" mode="ios" [checked]="temDados ? true : false" (ionChange)="saveStar($event)">
          </ion-checkbox>
        </ion-item>

      </ion-list>
      <br><br><br>
      <div>
        <ion-button [disabled]="loginForm.invalid" expand="block" (click)="login()">
          <ion-icon name="log-in"></ion-icon>
          &nbsp;ENTRAR
        </ion-button>
      </div>
    </form>
  </div> -->
</ion-content>