<ion-content padding class="animated fadeIn login backlogo">
  <div class="backlogo">
      <h2>Polícia Militar do Distrito Federal</h2>
  </div>
  
  <div class="login-content">
    <div class="ion-text-center ion-padding-horizontal">
      <div class="logo"></div>
    </div>

    <!-- Login form -->
    <form [formGroup]="loginForm" class="list-form">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="floating">
          <ion-icon name="card" item-start class="text-primary"></ion-icon>
          Usuário:
        </ion-label>
        <ion-input formControlName="username" type="text" [(ngModel)]="creds.username" name="username"></ion-input>
      </ion-item>
      <div class="ion-padding-horizontal">
        <ion-text color="danger" *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">
          <p class="error">Usuário é obrigatório</p>
        </ion-text>
      </div>

      <ion-item>
        <ion-label position="floating">
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Senha:
        </ion-label>
        <ion-input formControlName="password" type="password" [(ngModel)]="creds.password" name="password"></ion-input>
      </ion-item>
      <div class="ion-padding-horizontal">
        <ion-text color="danger" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
          <p class="error">Senha é obrigatório</p>
        </ion-text>
      </div>

      </ion-list>
      <br><br><br>
      <div>
        <ion-button [disabled]="loginForm.invalid" expand="block" (click)="login()">
          <ion-icon name="log-in"></ion-icon>
           &nbsp;ENTRAR
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>

