<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Prefixo: {{viatura?.prefixo}}</ion-title>
    <ion-buttons slot="end" (click)="logout()">
      <ion-chip mode="ios" outline color="light">
        <ion-label><strong>Sair</strong></ion-label>
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding cardAll">
    <ion-item color="primary">
      <ion-avatar slot="start">
        <img src="https://sgpol.pm.df.gov.br/img/sgf/{{viatura?.marcaSigla}}.png">
      </ion-avatar>
      <p>{{viatura?.marca}}/{{viatura?.modelo}} {{viatura?.anoFabricacao}}/{{viatura?.anoModelo}}</p>
    </ion-item>
    <ion-item color="primary">
      <ion-row>
        <ion-col>
          <p><strong><i>Placa:&nbsp;</i></strong> {{viatura?.placa}}</p>
          <p><strong><i>Odômetro:&nbsp;</i></strong> {{vistoria?.odometro}}</p>
          <p><strong><i>Renavam:&nbsp;</i></strong> {{viatura?.renavam}}</p>
          <p><strong><i>Combust.:&nbsp;</i></strong> {{viatura?.tipoCombustivel}}</p>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-card>

  <app-botao-situacao-viatura [viatura]="viatura"></app-botao-situacao-viatura>
  
    <ion-card mode="ios" color="light" class="card-children">
      <ion-item>
        <ion-label class="ion-text-wrap"><strong>ATENÇÃO: selecione se existerem alterações!</strong></ion-label>
        <ion-button expand="block" fill="clear" shape="round" *ngIf="mostrarItens; else mostrar"
          (click)="mostrarItens = !mostrarItens">
          Esconder itens
        </ion-button>
      </ion-item>
      <ng-template #mostrar>
        <ion-button expand="block" fill="clear" shape="round" (click)="mostrarItens = !mostrarItens">
          Mostrar itens
        </ion-button>
      </ng-template>

      <div *ngIf="mostrarItens">
        <div *ngFor="let item of vistoria?.vistoriaViaturaItensVistoria">
          <ion-item color="light">
            <ion-label class="ion-text-wrap">
              <p>{{item.nome}}</p>
            </ion-label>
            <ion-toggle [disabled]="adjunto === 'true'" (ionChange)="recebeItem(item)" [checked]="item.vistoriaOk === 1"
              color="success">
            </ion-toggle>
            <!-- <ion-button *ngIf="item.vistoriaOk === 1" expand="block" size="small" fill="outline" color="secondary" (click)="abrirSlidesFotos(item.nome)">Fotos
          </ion-button> -->
          </ion-item>
          <div *ngIf="fotosSlides == item.nome">
            <app-slider-fotos-item [itemVistoria]="item"></app-slider-fotos-item>
          </div>
          <hr>
        </div>
      </div>
    </ion-card>
    <ion-card class="card-children" mode="ios">
      <ion-item>
        <ion-label class="ion-text-wrap" position="floating" color="primary">Odômetro Inicial KM</ion-label>
        <ion-input type="number" placeholder="Km" [value]="vistoria?.odometro" name="odometro" text-right
          [(ngModel)]="vistoria.odometro" clearInput="true" [disabled]="adjunto === 'true' || viatura?.status === situacaoViatura.CAUTELADA"></ion-input>
      </ion-item>
      <p class="ion-padding-start" *ngIf="viatura?.status === situacaoViatura.CAUTELADA">
        Atenção insira odômetro final antes de entregar a viatura ao adjunto:
      </p>
      <ion-item *ngIf="viatura?.status === situacaoViatura.CAUTELADA">
        <ion-label class="ion-text-wrap" position="floating" color="primary">Odômetro Final KM</ion-label>
        <ion-input type="number" placeholder="Km" [value]="vistoria?.odometroFinal" name="odometroFinal" text-right
          [(ngModel)]="vistoria.odometroFinal" clearInput="true"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="fixed" class="ion-text-wrap" color="primary"> Combustível </ion-label>
        <ion-range [disabled]="adjunto === 'true'" mode="ios" min="0" max="100" step="10" pin="true" snaps="true"
          ticks="true" [value]="vistoria?.nivelCombustivel" [(ngModel)]="vistoria.nivelCombustivel">
          <ion-label range-left>Vazio</ion-label>
          <ion-label range-right>Cheio</ion-label>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap" position="floating" color="primary">Percurso: </ion-label>
        <ion-textarea [disabled]="adjunto === 'true'" [(ngModel)]="vistoria.percurso"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap" position="floating" color="primary">Alterações Verificadas ao Assumir o Serviço: </ion-label>
        <ion-textarea [disabled]="adjunto === 'true' ||  viatura?.status === situacaoViatura.CAUTELADA"
          [(ngModel)]="vistoria.observacaoMotorista">
        </ion-textarea>
      </ion-item>
      <ion-item *ngIf="viatura?.status === situacaoViatura.CAUTELADA">
        <ion-label class="ion-text-wrap" position="floating" color="primary">Alterações Verificadas Durante o Serviço: </ion-label>
        <ion-textarea [disabled]="adjunto === 'true'" [(ngModel)]="vistoria.observacaoMotoristaFinal"></ion-textarea>
      </ion-item>
      <ion-item *ngIf="adjunto === 'true'">
        <ion-label class="ion-text-wrap" position="floating" color="primary">Alterações Verificadas ao Assumir o Serviço (Adjunto): </ion-label>
        <ion-textarea [disabled]="viatura?.status === situacaoViatura.CAUTELADA"
          [(ngModel)]="vistoria.observacaoValidado"></ion-textarea>
      </ion-item>
      <ion-item *ngIf="adjunto === 'true' && viatura?.status === situacaoViatura.CAUTELADA">
        <ion-label class="ion-text-wrap" position="floating" color="primary">Alterações Verificadas Durante o Serviço (Adjunto): </ion-label>
        <ion-textarea [(ngModel)]="vistoria.observacaoValidadoFinal"></ion-textarea>
      </ion-item>

      <ion-item class="">
        <ion-button size="small" *ngIf="adjunto === 'true'" slot="end" color="danger"
          (click)="invalidarVistoria(vistoria)">
          <ion-icon slot="end" name="alert-circle-outline"></ion-icon>
          Excluir
        </ion-button>
        <ion-button size="small" *ngIf="adjunto !== 'true' && viatura?.status !== situacaoViatura.CAUTELADA" slot="end"
          color="danger" (click)="invalidarVistoria(vistoria)">
          <ion-icon slot="end" name="alert-circle-outline"></ion-icon>
          Excluir
        </ion-button>
        <ion-button size="small" *ngIf="adjunto !== 'true'" slot="end" (click)="enviarVistoria()">
          <ion-icon slot="end" name="checkbox-outline"></ion-icon>
          Enviar
        </ion-button>
        <ion-button size="small" *ngIf="adjunto === 'true'" slot="end" color="success"
          (click)="salvarAdjunto(vistoria)">
          <ion-icon slot="end" name="checkbox-outline"></ion-icon>
          Gravar
        </ion-button>
      </ion-item>
    </ion-card>
</ion-content>