/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// global styles
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  
  // Menu user profile
  .user-avatar {
    width: 68px;
    height: 68px;
    display: inline;
    border-radius: 50%;
    //box-shadow: inset 0 0 10rem rgba(0,0,0,.25), 0 0 4rem rgba(82, 151, 255, 0.349);
    img {
      border-radius: 10%;
    }
  }

  .logo-viatura {
    width: 68px;
    height: 68px;
    display: inline-block;
    border-radius: 50%;
    img {
      border-radius: 10%;
    }
  }

  .user-profile {
    .user-avatar {
      width: 68px;
      height: 68px;
      display: inline;
      padding-top: 0px;
      border-radius: 50%;
      box-shadow: inset 0 0 10rem rgba(0,0,0,.25), 0 0 4rem rgba(82, 151, 255, 0.349);
      img {
        border-radius: 10%;
      }
    }
    .toolbar-background {
      background-image: linear-gradient(180deg, --ion-color-primary, --ion-color-dark);
    }
  
    .other-data {
      .column {
        &:first-child {
          border-right: 1px solid rgba(36, 50, 157, .25);
        }
      }
    }
  }
  
  