<ion-content>
  <ion-card class="welcome-card">
    <ion-toolbar color="primary" mode="ios">
      <ion-buttons slot="start" [routerLink]="['/perfil']" routerDirection="forward">
        <div class="perfil">
          <p class="p">{{nomeUsuario}}</p>
        </div>
      </ion-buttons>
      <ion-buttons slot="end" (click)="logout()">
        <ion-chip mode="ios" outline color="light">
          <ion-label><strong>Sair</strong></ion-label>
        </ion-chip>
      </ion-buttons>
      <div class="ion-text-center">
        <p class="sgpol"> {{'Sgpol Mobile' | uppercase}} </p>
       </div>
    </ion-toolbar>
    <div class="dados-policial">
      <app-dados-basico-policial></app-dados-basico-policial>
    </div>
  </ion-card>
  <!-- <ion-card class="card-update" mode="ios" color="light" *ngIf="urlAtualizacao != null">
    <img src="assets/imgs/update.jpeg" />
    <ion-card-header>
      <ion-card-title>Atualização Disponível</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block"  (click)="downloadatualiza()">
        Atualizar
      </ion-button>
    </ion-card-content>
  </ion-card> -->
  <div class="content-body">
    <ion-row>
      <ion-col size="4">
        <div  [ngClass]= "{'cards': !classes.pessoal, 'card-click': classes.pessoal}" (click)="changePage('pessoal')">
          <div [ngClass]= "{'conteudo': !classes.pessoal, 'conteudo-click': classes.pessoal}" class="ion-text-center">
            <div [ngClass]= "{'icon': !classes.pessoal, 'icon-click': classes.pessoal}" class="ion-text-center">
              <ion-icon name="person"></ion-icon><br>
            </div>
              <ion-label>Pessoal</ion-label>
          </div>
        </div>
      </ion-col>
      <ion-col size="4">
        <div [ngClass]= "{'cards': !classes.sgf, 'card-click': classes.sgf}" (click)="changePage('sgf')">
          <div [ngClass]= "{'conteudo': !classes.sgf, 'conteudo-click': classes.sgf}" class="ion-text-center">
            <div [ngClass]= "{'icon': !classes.sgf, 'icon-click': classes.sgf}" class="ion-text-center">
              <ion-icon name="car"></ion-icon><br>
            </div>
              <ion-label>SGF</ion-label>
          </div>
        </div>
      </ion-col>
      <ion-col size="4">
        <div [ngClass]= "{'cards': !classes.saude, 'card-click': classes.saude}" (click)="changePage('saude')">
          <div [ngClass]= "{'conteudo': !classes.saude, 'conteudo-click': classes.saude}" class="ion-text-center">
            <div [ngClass]= "{'icon': !classes.saude, 'icon-click': classes.saude}" class="ion-text-center">
              <ion-icon name="medkit"></ion-icon><br>
            </div>
              <ion-label>Saúde</ion-label>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <app-pessoal *ngIf="pages[0]?.ativo"></app-pessoal>
    <app-sgf *ngIf="pages[1]?.ativo"></app-sgf>
    <app-saude *ngIf="pages[2]?.ativo"></app-saude>
    <!-- <ion-button (click)="streaming()" expand="block" fill="clear" shape="round">
      Streaming
    </ion-button> -->
  </div>
</ion-content>