:host {
  --page-background: var(--app-background-shade);
}

ion-content {
  --background: var(--page-background);
}

.card-click {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  height: 100px;
  width: auto;
  border-radius: 10px;
  color: #000;
  -webkit-box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.3);
  box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.3);
  transform: scale(1.05);
}

.icon-click {
  margin-left: auto;
      margin-right: auto;
      position: relative;
      width: 50px;
      height: 50px;
      background: rgb(54, 182, 126);
      border-radius: 50%;
      ion-icon {
        position: relative;
        top: 8%;
        font-size: 40px;
        color: #ffffff;
      }
}

.conteudo-click {
  position: relative;
  color: #202020;
  top: 16%;
  margin-left: auto;
  margin-right: auto;

  ion-label {
    color: var(--ion-color-primary);
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
  }
}

.sgpol {
  letter-spacing: .2rem;
}

