<ion-content>
  <ion-card class="welcome-card">
    <ion-toolbar color="primary" mode="ios">
      <ion-buttons slot="start">
        <div class="perfil">
          <p class="p">dd</p>
        </div>
      </ion-buttons>
      <ion-buttons slot="end" (click)="logout()">
        <ion-chip mode="ios" outline color="light">
          <ion-label><strong>Sair</strong></ion-label>
        </ion-chip>
      </ion-buttons>
    </ion-toolbar>
    <div class="dados-policial">
      <app-dados-basico-policial></app-dados-basico-policial>
    </div>
  </ion-card>
  <ion-card class="card-update" mode="ios" color="light" *ngIf="urlAtualizacao != null">
    <img src="assets/imgs/update.jpeg" />
    <ion-card-header>
      <ion-card-title>Atualização Disponível</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block"  (click)="downloadatualiza()">
        Atualizar
      </ion-button>
    </ion-card-content>
  </ion-card>
  <div class="content-body">
    <ion-row>
      <ion-col size="4">
        <div  class="cards" (click)="changePage('pessoal')">
          <div class="conteudo ion-text-center">
            <div class="icon ion-text-center">
              <ion-icon name="person"></ion-icon><br>
            </div>
              <ion-label>Pessoal</ion-label>
          </div>
        </div>
      </ion-col>
      <ion-col size="4">
        <div  class="cards" (click)="changePage('sgf')">
          <div class="conteudo ion-text-center">
            <div class="icon ion-text-center">
              <ion-icon name="car"></ion-icon><br>
            </div>
              <ion-label>SGF</ion-label>
          </div>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="cards" (click)="changePage('saude')">
          <div class="conteudo ion-text-center">
            <div class="icon ion-text-center">
              <ion-icon name="medkit"></ion-icon><br>
            </div>
              <ion-label>Saúde</ion-label>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <app-pessoal *ngIf="pages?.page[0]?.ativo"></app-pessoal>
    <app-sgf *ngIf="pages?.page[1]?.ativo"></app-sgf>
    <app-saude *ngIf="pages?.page[2]?.ativo"></app-saude>
  </div>
</ion-content>