<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Entrada e Saída</ion-title>
    <ion-buttons slot="end" (click)="logout()">
      <ion-chip mode="ios" outline color="light">
        <ion-label><strong>Sair</strong></ion-label>
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="dados-policial">
    <app-dados-basico-policial></app-dados-basico-policial>
  </div>

  <app-pesquisa-viatura (responseImovel)="viaturasPesquisa($event)"></app-pesquisa-viatura>

  <div *ngFor="let viatura of viaturas">
    <ion-card mode="ios" color="light" class="card-children ion-padding-start ion-padding-end">
      <ion-item>
      <ion-avatar class="logo-viatura" slot="start">
        <img src="https://sgpol.pm.df.gov.br/img/sgf/{{viatura?.marcaSigla}}.png">
      </ion-avatar>
      <ion-button expand="block" shape="round" slot="end" color="success" (click)="presentAlertConfirm(viatura)">
        Entrada
      </ion-button>
      </ion-item>
      <ion-row>
        <ion-col size="6">
          <ion-text [color]="!viaturaService.tem_numeros(busca) ? 'primary' : ''">
            <p><strong>Prefixo: </strong>{{viatura?.prefixo}}</p>
          </ion-text>
        </ion-col>
        <ion-col size="6"  class="ion-text-end">
          <p><strong>Viatura: </strong>{{viatura?.modelo}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-text [color]="viaturaService.tem_numeros(busca) ? 'primary' : ''">
            <p><strong>Placa: </strong>{{viatura?.placa}}</p>
          </ion-text>
        </ion-col>
        <ion-col size="6"  class="ion-text-end">
          <p><strong>Unidade: </strong>{{viatura?.lotacao}}</p>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <ion-item *ngFor="let viatura of viaturasPatio" >
    <ion-label class="ion-text-wrap" slot="start">
      <h3>{{viatura?.modelo}}</h3>
      <p>{{viatura?.placa}}</p>
    </ion-label>
    <ion-label class="ion-text-wrap">
      <h3>{{viatura?.modelo}}</h3>
      <p>{{viatura?.placa}}</p>
    </ion-label>
    <ion-button *ngIf="viatura?.status != situacaoViatura.CAUTELADA && viatura?.status != situacaoViatura.BAIXADA"  size="small" [color]="viatura?.status === situacaoViatura.EM_VISTORIA ? 'warning' : 'primary'"  [routerLink]="['/viatura-ficha', viatura.id, adjunto]" routerDirection="forward" >{{viatura?.status}}</ion-button>
    <ion-button *ngIf="viatura?.status === situacaoViatura.CAUTELADA" size="small"  slot="end" [color]="viatura?.status === situacaoViatura.CAUTELADA ? 'success' : 'primary'"  [routerLink]="['/viatura-ficha', viatura.id, adjunto]" routerDirection="forward" >{{viatura?.status}}</ion-button>
    <ion-button *ngIf="viatura?.status === situacaoViatura.BAIXADA" size="small"  slot="end" color="danger"  [routerLink]="['/viatura-ficha', viatura.id, adjunto]" routerDirection="forward" >{{viatura?.status}}</ion-button>
  </ion-item>

</ion-content>