<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Entrada e Saída</ion-title>
    <ion-buttons slot="end" (click)="logout()">
      <ion-chip mode="ios" outline color="light">
        <ion-label><strong>Sair</strong></ion-label>
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="dados-policial">
    <app-dados-basico-policial></app-dados-basico-policial>
  </div>

  <app-pesquisa-viatura (responseImovel)="viaturasPesquisa($event)"></app-pesquisa-viatura>

  <div *ngFor="let viatura of viaturas">
    <ion-card mode="ios" color="light" class="card-children ion-padding-start ion-padding-end">
      <ion-item>
      <ion-avatar class="logo-viatura" slot="start">
        <img src="https://sgpol.pm.df.gov.br/img/sgf/{{viatura?.marcaSigla}}.png">
      </ion-avatar>
      <ion-button expand="block" shape="round" slot="end" color="success" (click)="presentAlertConfirm(viatura)">
        Entrada
      </ion-button>
      </ion-item>
      <ion-row>
        <ion-col size="6">
          <ion-text [color]="!viaturaService.tem_numeros(busca) ? 'primary' : ''">
            <p><strong>Prefixo: </strong>{{viatura?.prefixo}}</p>
          </ion-text>
        </ion-col>
        <ion-col size="6"  class="ion-text-end">
          <p><strong>Viatura: </strong>{{viatura?.modelo}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-text [color]="viaturaService.tem_numeros(busca) ? 'primary' : ''">
            <p><strong>Placa: </strong>{{viatura?.placa}}</p>
          </ion-text>
        </ion-col>
        <ion-col size="6"  class="ion-text-end">
          <p><strong>Unidade: </strong>{{viatura?.lotacao}}</p>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <ion-list>
    <ion-segment value="favorite" mode="ios">
      <ion-segment-button value="call">
        <ion-label>Call</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favorite">
        <ion-label>Favorite</ion-label>
      </ion-segment-button>
      <ion-segment-button value="map">
        <ion-label>Map</ion-label>
      </ion-segment-button>
    </ion-segment>
  <ion-list-header lines="full" *ngIf="tipo === 'patio'">
    <ion-label>Viaturas no Pátio da <strong>{{ upm | uppercase}}:</strong></ion-label>
    <ion-button color="success" size="small" expand="block" fill="clear" shape="round" (click)="getViaturasPatioUpmLocal()">
      Viaturas do(a): {{ upm | uppercase}}
    </ion-button>
  </ion-list-header>

  <ion-list-header lines="full" *ngIf="tipo === 'upmLocal'">
    <ion-label>Viaturas do(a): {{ upm | uppercase}}:</ion-label>
    <ion-button color="success" size="small" expand="block" fill="clear" shape="round" (click)="getPatioClick()">
      Viaturas no Pátio da {{ upm | uppercase}}
    </ion-button>
  </ion-list-header>

  <ion-item *ngFor="let viatura of viaturasPatio" >
    <ion-label class="ion-text-wrap" slot="start">
      <h3>{{viatura?.viaturaDTO?.modelo}}</h3>
      <p>Placa: {{viatura?.viaturaDTO?.placa}}</p>
      <p>Prefixo: {{viatura?.viaturaDTO?.prefixo}}</p>
    </ion-label>
    <ion-label class="ion-text-wrap" slot="start">
      <h3>Entrada</h3>
      <p>{{viatura?.dataEntradaSaida | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
    </ion-label>
    <ion-button size="small" color="danger" slot="end">Saída</ion-button>
  </ion-item>
  
</ion-list>

</ion-content>